@import '../variables.sass';

.MuiBreadcrumbs-root#breadCrumbs {
	margin-bottom: 25px;
	text-transform: capitalize;
	a {
		opacity: .8;
		&:hover {
			opacity: 1;
			color: $color_text_link_hover;
		}
	}
	p {
		color: $color_text_link;
	}
}
