@import '../variables.sass';

.btn__action {
	border: 1px solid $background-color-button-primary;
	background-color: $background-color-secondary;
	color: $background-color-button-primary;
	text-decoration: none;
	border-radius: 10px;
	padding: 12px 24px;
	display: inline-flex;
	align-items: center;
	transition: all .5s ease-in-out;
	i {
		margin-right: 10px;
	}
	&:hover {
		background-color: $background-color-button-primary;
		color: $background-color-secondary;
		box-shadow: $box-shadow-button-primary;
	}
}
