@import '../variables.sass';

.dialog__component {
	.MuiPaper-root {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;
		padding: 25px 30px;
		min-width: 450px;
		max-width: 500px;
		border-radius: 10px;
		box-shadow: $dialog_shadow_background;
		color: $dialog_color_text;
		.dialog__component__title {
			text-align: center;
		}
		.dialog__component__text {
			width: 80%;
			margin: auto;
		}
		.dialog__icon {
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width: 75px;
				height: 70px;
			}
		}
		.btn__group {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 25px;
		}
	}
	&.success {
		.MuiPaper-root {
			.dialog__component__title,
			i.dialog__icon {
				color: $notification_background_succes;
			}
		}
	}
	&.error {
		.MuiPaper-root {
			.dialog__component__title,
			.dialog__icon {
				color: $notification_background_error;
			}
		}
	}
	&.warning {
		.MuiPaper-root {
			.dialog__component__title,
			.dialog__icon {
				color: $notification_background_warning;
			}
		}
	}
	&.information {
		.MuiPaper-root {
			.dialog__component__title,
			.dialog__icon {
				color: $notification_background_information;
			}
		}
	}
}
