@import '../variables.sass';

.header {
	width: 100%;
	background-color: $background-color-primary;
	position: fixed;
	transition: padding .5s ease-in-out;
	.navbar {
		display: flex;
		justify-content: space-between;
		.navbar__center {
			-webkit-app-region: drag;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			color: $color-text-paragraph;
			cursor: pointer;
		}
		.navbar__actions {
			button {
				background-color: transparent;
				border: none;
				height: 100%;
				padding: 5px;
				svg {
					path {
						color: $background-color-icon;
					}
				}
				&:hover {
					svg {
						path {
							color: $background-color-icon-hover;
						}
					}
				}
				&:focus-visible {
					outline: $background-color-icon-hover auto 1px;
				}
				&.hide__btn {
					display: none;
				}
			}
		}
	}
}

.header.close__sidebar {
	padding-left: 75px;
}
.header.open__sidebar {
	padding-left: 200px;
}

.side__bar {
	background-color: $background-color-secondary;
	transition: width .5s ease-in-out;
	width: 75px;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.navbar__brand {
		padding-top: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		margin-bottom: 80px;
		position: relative;
		.navbar__link__brand {
			align-self: center;
			.image__brand__1 {
				width: 40px;
			}
			.image__brand__2 {
				display: none;
			}
		}
		.btn__sidebar {
			transform: rotate(0);
			transition: all .5s ease-in-out;
			background-color: transparent;
			border: none;
			padding: 5px;
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 10px;
			svg {
				line,
				polyline {
					color: $background-color-icon;
				}
			}
			&:hover {
				svg {
					line,
					polyline {
						color: $background-color-icon-hover;
					}
				}
			}
			&:focus-visible {
				outline: $background-color-icon-hover auto 1px;
			}
		}
	}
	.navbar__nav {
		align-self: center;
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 25px;
		.nav__link {
			padding: 10px 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			text-decoration: none;
			transition: all .5s ease-in-out;
			position: relative;
			.nav__link__text {
				display: none;
			}
			&:hover {
				background-color: $background-color-button-primary;
				color: $color-text-button-primary;
				box-shadow: $box-shadow-button-primary;
				border-radius: 5px;
			}
		}
	}
	.user__perfil {
		width: 100%;
		height: 85px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		.image__perfil {
			svg {
				background-color: #203e70;
				border-radius: 50%;
				width: 44px;
				height: 44px;
				path,
				circle {
					color: $color-text-button-primary;
				}
			}
		}
		.user__perfil__info {
			display: none;
			.name__perfil {
				font-size: 14px;
			}
			.email__perfil {
				font-size: 12px;
				opacity: .7;
			}
		}
		.icon__config {
			position: absolute;
			top: -5px;
			right: 5px;
			background-color: transparent;
			border: none;
			padding: 0;
			svg {
				circle {
					color: $background-color-icon;
				}
			}
			&:hover {
				svg {
					circle {
						color: $background-color-icon-hover;
					}
				}
			}
			&:focus-visible {
				outline: $background-color-icon-hover auto 1px;
			}
		}
		.user__config {
			position: absolute;
			display: none;
			flex-direction: column;
			gap: 10px;
			transform: translate(65%, -85%);
			width: 150px;
			background-color: $background-color-secondary;
			padding: 15px;
			border-radius: 5px;
			box-shadow: $box-shadow-button-primary;
			.user__config__link {
				text-decoration: none;
				display: flex;
				gap: 10px;
				&:hover {
					color: $background-color-button-primary-hover;
				}
			}
		}
		.icon__config:hover + .user__config {
			display: flex;
		}
		.user__config:hover {
			display: flex;
		}
	}
}

.side__bar.close__sidebar {
	.navbar__nav {
		align-self: center;
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 25px;
		.nav__link {
			padding: 10px 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			text-decoration: none;
			transition: all .5s ease-in-out;
			position: relative;
			.nav__link__text {
				display: none;
				opacity: 0;
			}
			&:hover {
				background-color: $background-color-button-primary;
				color: $color-text-button-primary;
				box-shadow: $box-shadow-button-primary;
				border-radius: 5px;
				.nav__link__text {
					display: flex;
					position: absolute;
					right: 0px;
					transform: translateX(120%);
					background-color: $background-color-secondary;
					color: $background-color-button-primary;
					padding: 10px;
					box-shadow: $box-shadow-button-primary;
					border-radius: 5px;
					font-size: 12px;
					opacity: 1;
					transition: opacity .5s ease-in-out;
				}
			}
		}
	}
}

.side__bar.open__sidebar {
	width: 200px;
	.navbar__brand {
		.navbar__link__brand {
			.image__brand__1 {
				display: none;
			}
			.image__brand__2 {
				display: block;
				width: 80%;
			}
		}
		.btn__sidebar {
			transform: rotate(180deg);
		}
	}
	.navbar__nav {
		width: 80%;
		.nav__link {
			width: 100%;
			.nav__link__text {
				display: block;
			}
		}
	}
	.user__perfil {
		gap: 10px;
		.image__perfil {
			svg {
				width: 35px;
				height: 35px;
			}
		}
		.user__perfil__info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.user__config {
			transform: translate(110%, -85%);
		}
	}
}

.header__public {
	width: 100%;
	position: fixed;
	background-color: $background-color-primary;
	.navbar {
		display: flex;
		justify-content: space-between;
		.navbar__brand {
			align-self: center;
			padding-left: 10px;
			.navbar__link__brand {
				display: flex;
				.image__brand {
					width: 20px;
				}
			}
		}
		.navbar__center {
			-webkit-app-region: drag;
			flex: 1;
		}
		.navbar__actions {
			button {
				background-color: transparent;
				border: none;
				height: 100%;
				padding: 5px;
				svg {
					path {
						color: $background-color-icon;
					}
				}
				&:hover {
					svg {
						path {
							color: $background-color-icon-hover;
						}
					}
				}
				&:focus-visible {
					outline: $background-color-icon-hover auto 1px;
				}
				&.hide__btn {
					display: none;
				}
			}
		}
	}
}
