@import '../variables.sass';

.header {
	width: 100%;
	background-color: $background_1;
	position: fixed;
	transition: padding .5s ease-in-out;
	z-index: 1;
	height: 50px;
	.navbar {
		display: flex;
		justify-content: space-between;
		height: 100%;
		.navbar__forward__back {
			margin-left: 10px;
			display: flex;
			align-items: center;
			.navbar__button__icon {
				align-self: center;
				padding: 10px;
				transition: transform .5s ease-in-out;
			}
		}
		.navbar__center {
			-webkit-app-region: drag;
			flex: 1;
			align-self: center;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
			.navbar__center__date {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				text-transform: capitalize;
			}
			.navbar__center__time {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
		.navbar__actions {
			button {
				background-color: transparent;
				border: none;
				height: 100%;
				padding: 10px 15px;
				svg {
					path {
						color: $color_icons;
					}
				}
				&:hover {
					svg {
						path {
							color: $color_icons_hover;
						}
					}
				}
				&:focus-visible {
					color: $color_icons_hover;
				}
				&.hide__btn {
					display: none;
				}
			}
		}
	}
	&.close__sidebar {
		padding-left: 75px;
	}
	&.open__sidebar {
		padding-left: 260px;
		.navbar {
			.navbar__button__icon {
				transform: rotate(180deg);
			}
		}
	}
}
