@import '../variables.sass';

.notification {
	position: fixed;
	top: 3em;
	right: -100%;
	border-radius: 10px;
	transition: all .5s ease-in-out;
	background-color: $notification_background_color;
	min-width: 350px;
	max-width: 350px;
	.notification__content {
		display: grid;
		align-items: center;
		grid-template-columns: 5px 25px auto 25px;
		grid-gap: 10px;
		padding: 10px;
	}
	.notification__bar {
		height: 40px;
		width: 5px;
		border-radius: 10px;
	}
	.notification__icon {
		justify-self: center;
		align-self: center;
	}
	.notification__content__text {
		.notification__title {
			color: $notification_color_text_title;
			font-size: 18px;
			margin-bottom: 5px;
		}
		.notification__subTitle {
			color: $notification_color_text;
			font-size: 14px;
			opacity: 0.6;
		}
	}
	.close__icon {
		cursor: pointer;
		&:hover {
			opacity: .6;
		}
	}
	&.show__notification {
		right: 1em;
	}

	.loader__bar__notification {
		height: 5px;
		transition: width 1s ease;
		transition-delay: 0.01s;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	&.success {
		box-shadow: 0 6px 12px 0 $shadow_notification_succes;
		.notification__bar {
			background-color: $notification_background_succes;
		}
		i.notification__icon,
		.close__icon {
			color: $notification_background_succes;
		}
		.loader__bar__notification {
			background-color: $notification_background_succes;
		}
	}
	&.error {
		box-shadow: 0 6px 12px 0 $shadow_notification_error;
		.notification__bar {
			background-color: $notification_background_error;
		}
		.notification__icon,
		.close__icon {
			color: $notification_background_error;
		}
		.loader__bar__notification {
			background-color: $notification_background_error;
		}
	}
	&.warning {
		box-shadow: 0 6px 12px 0 $shadow_notification_warning;
		.notification__bar {
			background-color: $notification_background_warning;
		}
		.notification__icon,
		.close__icon {
			color: $notification_background_warning;
		}
		.loader__bar__notification {
			background-color: $notification_background_warning;
		}
	}
	&.information {
		box-shadow: 0 6px 12px 0 $shadow_notification_information;
		.notification__bar {
			background-color: $notification_background_information;
		}
		.notification__icon,
		.close__icon {
			color: $notification_background_information;
		}
		.loader__bar__notification {
			background-color: $notification_background_information;
		}
	}
}
