@import '../variables.sass';

.appointment__data {
	margin-right: 2em;
	margin-bottom: 2em;
	.appointment__data__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
		.btn__group {
			display: flex;
			gap: 20px;
			.btn {
				padding: 10px 12px;
				font-size: 12px;
				display: flex;
				align-items: center;
				gap: 10px;
				&.btn__cancel {
					padding: 9px 11px;
				}
			}
		}
	}
	:is(.information__card__user, .information__card__appointment, .previous__appointments) {
		background-color: $background-color-secondary;
		padding: 20px;
		border-radius: 10px;
	}
	.appointment__data__information {
		display: flex;
		flex-direction: column;
		gap: 50px;
		margin-bottom: 25px;
		.information__card__user {
			width: 350px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			align-self: center;
			gap: 30px;
			.card__user__header {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;
				h2 {
					font-size: 18px;
				}
				.card__user__image {
					svg {
						background-color: #203e70;
						border-radius: 50%;
						width: 50px;
						height: 50px;
						path,
						circle {
							color: $color-text-button-primary;
						}
					}
				}
			}
			.card__user__information {
				display: flex;
				border-bottom: 1px solid $line-color;
				:is(.information__age, .information__gender) {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 10px;
					padding: 20px 40px;
				}
				.information__age {
					border-right: 1px solid $line-color;
				}
			}
		}
		.information__card__appointment {
			display: flex;
			flex-direction: column;
			gap: 20px;
			:is(.appointment__date, .appointment__issue, .appointment__branch__office, .appointment__date) {
				display: flex;
				gap: 10px;
			}
		}
	}

	.previous__appointments {
		position: relative;
		h2 {
			margin-bottom: 25px;
		}
		.appointments__time__line {
			position: absolute;
			top: 69px;
			left: 45px;
			height: 350px;
			width: 2px;
			background-color: $color-text-title-notification;
		}
		.previous__appointments__cards {
			background-color: $background-color-primary;
			padding: 25px;
			height: 350px;
			overflow-y: auto;
			.card__previous__appointment {
				background-color: $background-color-secondary;
				padding: 10px;
				margin-left: 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				&:not(:last-child) {
					margin-bottom: 25px;
				}
				.circle {
					position: absolute;
					left: -32px;
					width: 25px;
					height: 25px;
					border-radius: 50%;
					background-color: $color-text-title-notification;
					&.circle__active {
						border: 2px solid $color-text-title-notification;
						background-color: $color-text-button-primary;
					}
				}
				:is(.appointment__date, .appointment__issue, .appointment__branch__office, .appointment__doctor) {
					display: flex;
					flex-direction: column;
					gap: 5px;
					h3 {
						font-size: 12px;
					}
					p {
						font-size: 11px;
						opacity: .6;
					}
				}
				.previous_appontments__link {
					color: $background-color-button-primary;
					text-decoration: none;
					padding: 12px;
					transition: all .5s ease-in-out;
					i {
						margin-right: 10px;
					}
					&:hover {
						opacity: .6;
					}
				}
			}
			&::-webkit-scrollbar {
				width: 10px;
				background: #afb6c3;
				border-left: 4px solid $background-color-primary;
				border-right: 4px solid $background-color-primary;
			}
			&::-webkit-scrollbar-thumb {
				background: #afb6c3;
				border-radius: 20px;
				border-right: 2px solid $background-color-primary;
				border-left: 2px solid $background-color-primary;
				cursor: pointer;
			}
			&::-webkit-scrollbar-thumb:hover {
				background: #8a95a8;
			}
			&::-webkit-scrollbar-thumb:active {
				background-color: #576275;
			}
			&::-webkit-scrollbar-track {
				background: transparent;
				border-radius: 10px;
			}
		}
	}
}

@media screen and (min-width: 964px) {
	.appointment__data {
		.appointment__data__information {
			flex-direction: row;
		}
		.previous__appointments {
			.previous__appointments__cards {
				.card__previous__appointment {
					:is(.appointment__date, .appointment__issue, .appointment__branch__office, .appointment__doctor) {
						h3 {
							font-size: 14px;
						}
						p {
							font-size: 12px;
							opacity: .6;
						}
					}
				}
			}
		}
	}
}
