@import '../variables.sass';

.Appointment {
	.appointment__header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 25px;
		margin-bottom: 25px;
		.appointment__header__button_group {
			display: flex;
			gap: 25px;
		}
	}
	.appointment__alert__date {
		margin-bottom: 25px;
		background-color: $background_2;
		box-shadow: $shadow_background_3;
		border-radius: 5px;
		padding: 25px;
		display: inline-block;
		.appointment__alert__date__title {
			color: $notification_background_warning;
			text-align: center;
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	.appointment__information {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 25px;
		:is(.appointment__information__patient, .appointment__information__allergies, .appointment__information__observation, .appointment__information__appointments, .appointment__information__reason) {
			background-color: $background_2;
			box-shadow: $shadow_background_3;
			border-radius: 5px;
			padding: 25px;
			width: 100%;
			height: 100%;
		}
		.appointment__information__patient {
			grid-area: "data";
			position: relative;
			.appointment__information__patient__header {
				display: flex;
				gap: 25px;
				position: relative;
				margin-bottom: 25px;
				.appointment__information__patient__header__avatar {
					width: 75px;
					height: 75px;
					font-size: 36px;
				}
				.appointment__information__patient__header__information {
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 5px;
				}
				.appointment__information__patient__header__profile {
					position: absolute;
					right: 0;
					top: 10px;
					a {
						font-size: 18px;
						&:hover {
							color: $color_text_link_hover;
						}
					}
				}
			}
			.appointment__information__patient__appointment {
				.appointment__information__patient__appointment__title {
					margin-bottom: 10px;
				}
				.appointment__information__patient__appointment__data {
					.appointment__information__patient__appointment__data__text {
						margin-bottom: 10px;
						b {
							margin-right: 5px;
						}
						.Activa {
							color: $background_color_button_success_hover;
						}
						.Inactiva {
							color: $background_color_button_basic_hover;
						}
						.Cancelada {
							color: $color_text_button_error;
						}
					}
				}
			}
		}
		.appointment__information__observation {
			/* width: 500px; */
			grid-area: "observation";
			.appointment__information__observation__title {
				margin-bottom: 25px;
			}
			.appointment__information__observation__input {
				width: 100%;
				.MuiOutlinedInput-root {
					textarea#appointment_observation {
						height: 200px !important;
						width: 100%;
						overflow-y: auto !important;
					}
				}
			}
		}
		.appointment__information__reason {
			/* width: 500px; */
			grid-area: "reason";
			.appointment__information__reason__title {
				margin-bottom: 25px;
			}
			.appointment__information__reason__text {
				width: 100%;
				height: 250px;
				padding: 25px;
				border-radius: 5px;
				white-space: pre-wrap;
				overflow-y: auto;
				background-color: $background_1;
				&::-webkit-scrollbar {
					width: 10px;
					background: #0c62da;
					border-left: 4px solid #eff7fe;
					border-right: 4px solid #eff7fe;
				}
				&::-webkit-scrollbar-thumb {
					background: #0c62da;
					border-radius: 20px;
					border-right: 2px solid #eff7fe;
					border-left: 2px solid #eff7fe;
					cursor: pointer;
				}
				&::-webkit-scrollbar-thumb:hover {
					background: #084aa7;
				}
				&::-webkit-scrollbar-thumb:active {
					background-color: #094291;
				}
				&::-webkit-scrollbar-track {
					background: transparent;
					border-radius: 10px;
				}
			}
		}
		.appointment__information__allergies {
			/* width: 500px; */
			grid-area: "allergies";
			.appointment__information__allergies__title {
				margin-bottom: 25px;
			}
			.appointment__information__allergies__text {
				width: 100%;
				height: 250px;
				padding: 25px;
				border-radius: 5px;
				white-space: pre-wrap;
				overflow-y: auto;
				background-color: $background_1;
				&::-webkit-scrollbar {
					width: 10px;
					background: #0c62da;
					border-left: 4px solid #eff7fe;
					border-right: 4px solid #eff7fe;
				}
				&::-webkit-scrollbar-thumb {
					background: #0c62da;
					border-radius: 20px;
					border-right: 2px solid #eff7fe;
					border-left: 2px solid #eff7fe;
					cursor: pointer;
				}
				&::-webkit-scrollbar-thumb:hover {
					background: #084aa7;
				}
				&::-webkit-scrollbar-thumb:active {
					background-color: #094291;
				}
				&::-webkit-scrollbar-track {
					background: transparent;
					border-radius: 10px;
				}
			}
		}
		.appointment__information__appointments {
			grid-area: appointments;
			.appointment__information__appointments__title {
				margin-bottom: 25px;
			}
			.appointment__information__appointments__list {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: 25px;
				height: 489px;
				padding: 15px 15px 15px 40px;
				border-radius: 5px;
				overflow-y: auto;
				background-color: $background_3;
				.appointment__information__appointments__list__line {
					background-color: $background_4;
					position: absolute;
					top: 0;
					left: 25px;
					width: 2px;
					height: 489px;
					transform: translateX(-2px);
					z-index: 1;
				}
				.appointment__information__appointments__list__appointment {
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-radius: 5px;
					padding: 15px 25px;
					position: relative;
					background-color: $background_2;
					transition: box-shadow .5s ease-in-out;
					&:hover {
						box-shadow: $shadow_background_3;
					}
					:is(.appointment__information__appointments__list__appointment__date, .appointment__information__appointments__list__appointment__created) {
						display: flex;
						flex-direction: column;
						justify-content: center;
						gap: 5px;
					}
					.appointment__information__appointments__list__appointment__parting__line {
						width: 3px;
						height: 100%;
						background-color: $line_color;
					}
					.appointment__information__appointments__list__appointment__state {
						position: absolute;
						left: -30px;
						top: 50%;
						transform: translateY(-50%);
						width: 25px;
						height: 25px;
						border-radius: 50%;
						z-index: 1;
						&.Activa {
							background-color: $background_2;
							border: 2px solid $background_color_button_success_hover;
						}
						&.Inactiva {
							background-color: $background_2;
							border: 2px solid $background_color_button_basic_hover;
						}
						&.Cancelada {
							background-color: $background_2;
							border: 2px solid $color_text_button_error;
						}
					}
				}
			}
		}
	}
	@media screen and (min-width: 1024px) {
		.appointment__header {
			flex-direction: row;
		}
		.appointment__information {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas: "data observation" "reason allergies" "appointments appointments";
		}
	}
}
.dialog__change__date .MuiPaper-root {
	padding: 25px;
	position: relative;
	.dialog__change__date__title {
		margin-bottom: 25px;
	}
	.dialog__change__date__exit {
		position: absolute;
		top: 25px;
		right: 25px;
	}
}
