@import '../variables.sass';

.change__password {
	.change__password__header {
		margin-bottom: 25px;
	}
	.change__password__form {
		display: flex;
		flex-direction: column;
		gap: 50px;
		transition: opacity .5s ease-in-out;
		.change__password__form__buttons {
			display: flex;
			justify-content: center;
			gap: 25px;
		}
		.change__password__form__inputs {
			display: flex;
			flex-direction: column;
			gap: 25px;
			padding: 25px;
			border-radius: 5px;
			box-shadow: $shadow_background_3;
			background-color: $background_2;
			.current__password {
				grid-area: current__password;
			}
			.new__password {
				grid-area: new__password;
			}
			.new__password2 {
				grid-area: new__password2;
			}
			.change__password__form__inputs__input__validate {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 5px;
				grid-area: validate;
				.create__user__form__inputs__input__validate__data {
					display: flex;
					align-items: center;
					gap: 10px;
					&.char__check,
					&.num__check,
					&.more8__check,
					&.uppercase__check,
					&.lowercase__check {
						color: $background_color_button_success;
					}
				}
			}
		}
	}
	@media screen and (min-width: 1024px) {
		.change__password__form {
			align-items: center;
			.change__password__form__inputs {
				display: grid;
				grid-template-areas: "current__password current__password"
					"new__password new__password2" "validate validate";
				width: 800px;
			}
		}
	}
}
