@import '../variables.sass';

.CreateAppointment {
	.create__appointment__header {
		margin-bottom: 50px;
	}
	.create__appointment__content {
		display: grid;
		grid-template-rows: repeat(3, auto);
		justify-items: center;
		gap: 50px;
		.create__appointment__content__form {
			padding: 25px;
			border-radius: 5px;
			background-color: $background_2;
			box-shadow: $shadow_background_3;
			display: flex;
			flex-direction: column;
			gap: 25px;
		}
	}
}
