@import '../variables.sass';

.CreateAppointment {
	.create__appointment__header {
		margin-bottom: 50px;
	}
	.create__appointment__content {
		display: flex;
		flex-direction: column;
		gap: 50px;
		.create__appointment__content__patient__find,
		.create__appointment__content__patient__form,
		.create__appointment__content__form {
			padding: 25px;
			border-radius: 5px;
			background-color: $background_2;
			box-shadow: $shadow_background_3;
			width: 100%;
			height: 300px;
		}
		.create__appointment__content__patient {
			display: flex;
			flex-direction: column;
			gap: 25px;
			.create__appointment__content__patient__form {
				display: inline-table;
				h2 {
					margin-bottom: 25px;
				}
				.create__appointment__content__patient__form__group {
					.create__appointment__content__patient__form__group__buttons {
						display: flex;
						justify-content: center;
						gap: 25px;
					}
					.create__appointment__content__patient__form__group__input {
						width: 100%;
						margin-bottom: 25px;
						.Mui-disabled {
							-webkit-text-fill-color: rgba(
								$color: $color_text_link_hover,
								$alpha: .5
							);
						}
					}
				}
			}
			.create__appointment__content__patient__find {
				h2 {
					margin-bottom: 25px;
				}
				.create__appointment__content__patient__find__patients {
					height: 200px;
					overflow-y: auto;
					overflow-x: hidden;
					.create__appointment__content__patient__find__patients__perfil {
						margin: 10px 15px 10px 0;
						padding: 15px;
						border: 1px solid $background_4;
						border-radius: 5px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						button {
							background: none;
							border: none;
						}
						h3 {
							flex: 1;
							cursor: pointer;
						}
						&:hover {
							background-color: $background_3;
						}
					}
				}
			}
		}
		.create__appointment__content__schedule {
			padding: 25px;
			border-radius: 5px;
			background-color: $background_2;
			box-shadow: $shadow_background_3;
			width: 100%;
			height: 700px;
			.create__appointment__content__schedule__title {
				margin-bottom: 25px;
			}
			.create__appointment__content__schedule__header {
				margin-bottom: 25px;
				display: flex;
				justify-content: space-between;
				.create__appointment__content__schedule__header__buttons {
					display: flex;
					gap: 15px;
					align-items: center;
				}
			}
			.create__appointment__content__schedule__content {
				display: grid;
				grid-template-columns: 150px 1fr;
				height: 490px;
				overflow: auto;
				overflow-x: hidden;
				.create__appointment__content__schedule__content__time {
					.create__appointment__content__schedule__content__time__moment {
						width: 100%;
						height: 60px;
						text-align: right;
						padding: 10px 15px 30px;
						background: $background_3;
						border-bottom: 2px solid $background_2;
						.create__appointment__content__schedule__content__time__moment__hour.Active {
							color: $color_text_link_hover;
						}
					}
				}
				.create__appointment__content__schedule__content__day {
					.create__appointment__content__schedule__content__day__moments {
						width: 100%;
						height: 60px;
						background-color: $background_1;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						.create__appointment__content__schedule__content__day__moments__moment {
							border-bottom: 2px solid $background_2;
							height: 100%;
							padding: 4px 15px 4px 20px;
							cursor: pointer;
							display: flex;
							align-items: center;
							gap: 10px;
							transition: border .1s ease-in-out;
							&.Active {
								border-left: 5px solid $color_text_link_hover;
								color: $color_text_link_hover;
							}
							.create__appointment__content__schedule__content__day__moments__moment__icon {
								svg {
									width: 16px;
									height: 16px;
								}
							}
						}
					}
				}
				&::-webkit-scrollbar {
					width: 10px;
					background: #0c62da;
					border-left: 4px solid #eff7fe;
					border-right: 4px solid #eff7fe;
				}
				&::-webkit-scrollbar-thumb {
					background: #0c62da;
					border-radius: 20px;
					border-right: 2px solid transparent;
					border-left: 2px solid transparent;
					cursor: pointer;
				}
				&::-webkit-scrollbar-thumb:hover {
					background: #084aa7;
				}
				&::-webkit-scrollbar-thumb:active {
					background-color: #094291;
				}
				&::-webkit-scrollbar-track {
					background: transparent;
					border-radius: 10px;
				}
			}
		}
	}
	@media screen and (min-width: 1024px) {
		.create__appointment__content {
			.create__appointment__content__patient {
				flex-direction: row;
				justify-content: center;
				align-items: flex-start;
				.create__appointment__content__patient__find,
				.create__appointment__content__patient__form {
					width: 49%;
				}
			}
			.create__appointment__content__form {
				.create__appointment__content__form__inputs {
					align-items: flex-start;
					flex-direction: row;
				}
			}
		}
	}
}
.create__appointment__dialog.MuiDialog-root {
	.MuiPaper-root {
		padding: 25px;
		.create__appointment__dialog__header {
			margin-bottom: 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.create__appointment__dialog__form {
			width: 350px;
			display: flex;
			flex-direction: column;
			gap: 25px;
			.create__appointment__dialog__form__input {
				width: 100%;
			}
			.create__appointment__dialog__form__buttons {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 25px;
			}
		}
	}
}
.past__appointment__dialog {
	.MuiPaper-root {
		padding: 25px;
		.past__appointment__dialog__header {
			margin-bottom: 25px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.past__appointment__dialog__information {
			display: flex;
			flex-direction: column;
			gap: 25px;
			.past__appointment__dialog__information__patient__name {
				padding-left: 10px;
				font-weight: 500;
			}
			.past__appointment__dialog__information__reason {
				#past_appointment_reason {
					-webkit-text-fill-color: $color_text_paragraph;
				}
			}
			.past__appointment__dialog__information__state {
				.Activa {
					padding-left: 5px;
					color: $background_color_button_success_hover;
				}
				.Inactiva {
					padding-left: 5px;
					color: $background_color_button_basic_hover;
				}
				.Cancelada {
					padding-left: 10px;
					color: $color_text_button_error;
				}
			}
		}
	}
}
