@import '../variables.sass';

.Patients {
	.patients__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}
	.patients__params {
		margin-bottom: 25px;
		background-color: $background_2;
		padding: 25px;
		border-radius: 5px;
		box-shadow: $shadow_background_3;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 25px;
		.patients__search {
			display: flex;
			align-items: center;
			gap: 15px;
			.patients__search__form {
				display: flex;
				align-items: center;
				gap: 15px;
				transition: all .2s ease-in-out;
				width: 0;
				opacity: 0;
				visibility: hidden;
				.patients__search__input {
					width: 350px;
					.MuiOutlinedInput-root {
						padding-right: 0;
						.MuiOutlinedInput-input {
							padding-left: 15px;
							padding-right: 15px;
						}
						.btn__icon {
							padding: 18px 15px;
						}
					}
				}
				&.patients__search__form__show {
					width: 475px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.patients__params__sort {
			display: grid;
			grid-template-columns: 1fr 1fr auto;
			gap: 15px;
			.patients__params__sort__number__patients,
			.patients__params__sort__type__patients {
				position: relative;
			}
		}
	}
	.patients__total {
		display: flex;
		justify-content: flex-end;
		margin-right: 15px;
	}
	.table__patients {
		margin-bottom: 25px;
	}
	.table__basic.table__patients.MuiTableContainer-root
		.MuiTable-root
		.MuiTableBody-root
		tr
		td:first-child {
		&:hover a div {
			color: $color_text_link_hover;
		}
	}
	.table__basic.table__patients.MuiTableContainer-root
		.MuiTable-root
		.MuiTableBody-root
		tr
		td:nth-child(5),
	.table__basic.table__patients.MuiTableContainer-root
		.MuiTable-root
		.MuiTableBody-root
		tr
		td:nth-child(4) {
		text-transform: inherit;
	}
	.table__basic.table__patients {
		.table__patients__row__disabled a div {
			color: $border_color_button_error;
			display: flex;
			gap: 5px;
			align-items: center;
		}
		.table__patients__row__actions {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
		}
	}
	@media screen and (min-width: 1250px) {
		.patients__params {
			flex-direction: row;
			justify-content: space-between;
			.patients__params__sort {
				.patients__params__sort__number__patients,
				.patients__params__sort__type__patients {
					width: 150px;
					.MuiFormHelperText-root {
						position: absolute;
						bottom: -20px;
						margin: 0;
					}
				}
			}
		}
	}
}
