@import '../variables.sass';

.Patients {
	.patients__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 25px;
	}
	.patients__params {
		margin-bottom: 25px;
		background-color: $background_2;
		padding: 25px;
		border-radius: 5px;
		box-shadow: $shadow_background_3;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 15px;
		.patients__search {
			display: flex;
			align-items: center;
			gap: 15px;
			.btn__icon__basic {
				padding: 18px;
			}
			.patients__search__form {
				display: flex;
				align-items: center;
				gap: 15px;
				transition: all .2s ease-in-out;
				width: 0;
				opacity: 0;
				visibility: hidden;
				.patients__search__input {
					width: 350px;
					.MuiOutlinedInput-root {
						padding-right: 0;
						.MuiOutlinedInput-input {
							padding-left: 15px;
							padding-right: 15px;
						}
						.btn__icon {
							padding: 18px 15px;
						}
					}
				}
				&.patients__search__form__show {
					width: 475px;
					opacity: 1;
					visibility: visible;
				}
			}
		}
		.patients__params__sort {
			display: flex;
			gap: 15px;
		}
	}
	.patients__total {
		display: flex;
		justify-content: flex-end;
		margin: 25px 0;
	}
	.table__basic.table__patients.MuiTableContainer-root
		.MuiTable-root
		.MuiTableBody-root
		tr
		td:first-child {
		text-transform: capitalize;
	}

	.table__basic.table__patients.MuiTableContainer-root
		.MuiTableRow-root.table__patients__row__disabled {
		.MuiTableCell-root:first-child div {
			color: $border_color_button_error;
			display: flex;
			gap: 5px;
			align-items: center;
			svg {
				width: 18px;
				height: 18px;
			}
		}
	}
}
