@import '../variables.sass';

.UpdateAppointment {
	.update__appointment__header {
		margin-bottom: 25px;
	}
	.update__appointment__section {
		display: grid;
		grid-template-areas: "patient" "schedule" "buttons";
		gap: 25px;
		.update__appointment__section__patient {
			background-color: $background_2;
			box-shadow: $shadow_background_3;
			border-radius: 5px;
			padding: 25px;
			display: inline-block;
			justify-self: center;
			grid-area: patient;
			.update__appointment__section__patient__peronal {
				display: flex;
				align-items: center;
				gap: 25px;
				margin-bottom: 25px;
				.update__appointment__section__patient__peronal__avatar {
					width: 75px;
					height: 75px;
					font-size: 30px;
				}
			}
			.update__appointment__section__patient__data {
				display: flex;
				flex-direction: column;
				gap: 15px;
				.patient__section__personal__information__data__header__extra__contacts__contact {
					display: flex;
					align-items: center;
					gap: 15px;
				}
				a:hover {
					color: $color_text_link_hover;
				}
			}
		}
		.update__appointment__section__schedule {
			background-color: $background_2;
			box-shadow: $shadow_background_3;
			border-radius: 5px;
			padding: 25px;
			grid-area: schedule;
			.update__appointment__section__schedule__header {
				display: flex;
				justify-content: space-between;
				gap: 25px;
				margin-bottom: 25px;
			}
		}
		.button__group {
			display: flex;
			justify-content: center;
			gap: 25px;
			grid-area: buttons;
		}
	}
	@media screen and (min-width: 1024px) {
		.update__appointment__section {
			grid-template-areas: "patient schedule" "buttons schedule";
			grid-template-columns: 300px 1fr;
			grid-template-rows: 250px 1fr;
			.update__appointment__section__patient {
				justify-self: start;
				align-self: start;
			}
			.button__group {
				justify-self: center;
				align-self: start;
			}
		}
	}
}
