@import '../variables.sass';

.update__appointment {
	.update__appointment__header {
		margin-bottom: 25px;
	}
	.update__appointment__section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
		transition: opacity .5s ease-in-out;
		.update__appointment__section__content {
			display: flex;
			flex-direction: column;
			gap: 50px;
			.update__appointment__section__content__patient {
				background-color: $background_2;
				box-shadow: $shadow_background_3;
				border-radius: 5px;
				padding: 25px;
				display: flex;
				flex-direction: column;
				gap: 15px;
				justify-self: center;
				.update__appointment__section__content__patient__data {
					display: flex;
					flex-direction: column;
					gap: 15px;
					.additional__contact {
						display: flex;
						align-items: center;
						gap: 10px;
						width: 50%;
						&:hover {
							color: $color_text_link_hover;
						}
					}
				}
			}
			.button__group {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 25px;
				width: 100%;
			}
		}
		.update__appointment__section__schedule {
			background-color: $background_2;
			box-shadow: $shadow_background_3;
			border-radius: 5px;
			padding: 25px;
			width: 100%;
			.update__appointment__section__schedule__header {
				display: flex;
				justify-content: space-between;
				gap: 25px;
				margin-bottom: 25px;
			}
		}
	}
	@media screen and (min-width: 1024px) {
		.update__appointment__section {
			display: grid;
			grid-template-columns: 405px 1fr;
			align-items: self-start;
			.update__appointment__section__patient {
				justify-self: start;
				align-self: start;
				height: 200px;
			}
			.button__group {
				justify-self: center;
				align-self: start;
			}
		}
	}
}
