@import ./variables

*
    margin: 0
    box-sizing: border-box
body
    background-color: $background-color-primary
    font-size: 16px
    color: $color-text-paragraph
    overflow-x: hidden

body::-webkit-scrollbar
    width: 10px
    background: #AFB6C3
    border-left: 4px solid #F6F7FA
    border-right: 4px solid #F6F7FA

body::-webkit-scrollbar-thumb
    background: #AFB6C3
    border-radius: 20px
    border-right: 2px solid #F6F7FA
    border-left: 2px solid #F6F7FA
    cursor: pointer

body::-webkit-scrollbar-thumb:hover
    background: #8A95A8

body::-webkit-scrollbar-thumb:active
    background-color: #576275

body::-webkit-scrollbar-track
    background: transparent
    border-radius: 10px

.container
    padding: 3em 0 0 6em
    transition: padding .5s ease-in-out
.container__open__sidebar
    padding: 3em 0 0 14em

h1
    font-size: 24px
    color: $color-text-h1
h2
    font-size: 20px
    color: $color-text-h2
h3
    font-size: 18px
    color: $color-text-h3

a
    color: inherit

button
    cursor: pointer
button:focus-visible, a:focus-visible
    outline: $background-color-icon-hover auto 1px

.btn
    border: none
    border-radius: 10px
    width: 100%
    padding: 16px 32px
    font-size: 14px
    letter-spacing: 3px
    transition: all .3s ease-in-out
.btn__primary
    background-color: $background-color-button-primary
    color: $color-text-button-primary
    &:hover
        background-color: $background-color-button-primary-hover
        box-shadow: $box-shadow-button-primary
    &:focus-visible
        outline: $background-color-button-primary-hover auto 2px
    &:active
        background-color: $background-color-button-primary-active
    &:focus
        background-color: $background-color-button-primary-focus
        box-shadow: $box-shadow-button-primary
.btn__secondary
    background-color: $background-color-button-secondary
    color: $color-text-button-secondary
    &:hover
        background-color: $background-color-button-secondary-hover
        box-shadow: $box-shadow-button-secondary
    &:focus-visible
        outline: $background-color-button-secondary-hover auto 2px
    &:active
        background-color: $background-color-button-secondary-active
    &:focus
        background-color: $background-color-button-secondary-focus
        box-shadow: $box-shadow-button-secondary
.btn__cancel
    background-color: $background-color-button-cancel
    color: $color-text-button-cancel
    border: 1px solid transparent
    &:hover
        border-color: $color-text-button-cancel
        box-shadow: $box-shadow-button-cancel
    &:focus-visible
        outline: $color-text-button-cancel auto 2px
    &:active
        border-color: $color-text-button-cancel
    &:focus
        border-color: $color-text-button-cancel
        box-shadow: $box-shadow-button-cancel
