@import ./variables
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap')

*
    margin: 0
    box-sizing: border-box
body
    background-color: $background_1
    font-size: 16px
    color: $color_text_paragraph
    overflow-x: hidden
    font-family: 'Roboto', sans-serif

body::-webkit-scrollbar
    width: 10px
    background: #0C62DA
    border-left: 4px solid #EFF7FE
    border-right: 4px solid #EFF7FE

body::-webkit-scrollbar-thumb
    background: #0C62DA
    border-radius: 20px
    border-right: 2px solid #EFF7FE
    border-left: 2px solid #EFF7FE
    cursor: pointer

body::-webkit-scrollbar-thumb:hover
    background: #084aa7

body::-webkit-scrollbar-thumb:active
    background-color: #094291

body::-webkit-scrollbar-track
    background: transparent
    border-radius: 10px

.container
    padding: 75px 25px 25px 100px

h1
    font-size: 32px
    color: $color_text_h1
    letter-spacing: 4px
h2
    font-size: 28px
    font-weight: 500
    color: $color_text_h2
h3
    font-size: 18px
    font-weight: 400
    color: $color_text_h3

small
    color: $color_text_semi_paragraph
    font-weight: 300

a
    color: $color_text_link
    font-size: 14px
    cursor: pointer
    text-decoration: none

button
    cursor: pointer
button:focus-visible, a:focus-visible
    outline: $color_icons_hover auto 1px

.MuiIconButton-root.btn__icon
    color: $color_icons
    padding: 0
    &:hover
        color: $color_icons_hover

.btn_basic.MuiButton-root
    display: flex
    gap: 10px
    background-color: $background_color_button_basic
    color: $color_text_button_basic
    box-shadow: none
    border-radius: 5px
    text-transform: capitalize
    &:hover
        box-shadow: $box_shadow_button_basic
        background: $background_color_button_basic_hover
    &:focus-visible
        box-shadow: none
.btn__success.MuiButton-root
    display: flex
    gap: 10px
    box-shadow: none
    border-radius: 5px
    text-transform: capitalize
    background-color: $background_color_button_success
    color: $color_text_button_success
    &:hover
        box-shadow: $box_shadow_button_success
        background: $background_color_button_success_hover
    &:focus-visible
        outline: $background_color_button_success_focus auto 1px
        box-shadow: none

.btn__error.MuiButton-root
    display: flex
    gap: 10px
    box-shadow: none
    border-radius: 5px
    text-transform: capitalize
    border: 1px solid $border_color_button_error
    color: $color_text_button_error
    &:hover
        background-color: $background_color_button_error_hover
        border: 1px solid $border_color_button_error_hover
    &:focus-visible
        box-shadow: none
        outline: $background_color_button_error_focus auto 1px

/** Inputs **/
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline
    border-color: $border_color_input_hover!important
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline
    border-color: $border_color_input_hover!important
textarea.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root
    padding: 16.5px 0 16.5px 14px
textarea.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input
    padding-right: 14px
textarea.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input::-webkit-scrollbar
    width: 10px
    background: #0C62DA
    border-left: 4px solid #EFF7FE
    border-right: 4px solid #EFF7FE
textarea::-webkit-scrollbar-thumb
    background: #0C62DA
    border-radius: 20px
    border-right: 2px solid #EFF7FE
    border-left: 2px solid #EFF7FE
    cursor: pointer

textarea::-webkit-scrollbar-thumb:hover
    background: #084aa7

textarea::-webkit-scrollbar-thumb:active
    background-color: #094291

textarea::-webkit-scrollbar-track
    background: transparent
    border-radius: 10px
