$background_1: #EFF7FE
$background_2: #FFFFFF
$backgroun_3: #E6F4FD
$backgroun_4: #0C62DA
$background-color-secondary: #FFFFFF
$line-color: #506795
$shadow_background_3: 0 6px 12px 0 #45a7e666
/** Color text **/
$color_text_h1: #1F397A
$color_text_h2: #294BA3
$color_text_h3: #394660
$color_text_paragraph: #8A8C9C
$color_text_semi_paragraph: #B9BAC6
$color_text_link: #394660
$color_text_link_hover: #0C62DA

/** Icons **/
$color_icons: #394660
$color_icons_hover: #0C62DA
/** Button **/
$background-color-button-primary: #0857DE
$color-text-button-primary: #F9F9FE
$background-color-button-primary-hover: #1A75FF
$background-color-button-primary-active: #0042B2
$background-color-button-primary-focus: #0055E6
$box-shadow-button-primary: 0 6px 12px 0 #0c62da66

$background_color_button_basic: #0C62DA
$background_color_button_basic_hover: #0C62DA
$color_text_button_basic: #FFFFFF
$box_shadow_button_basic: 0 6px 12px 0 #0c62da66

$background-color-button-secondary: #E5F2FF
$color-text-button-secondary: #0857DE
$background-color-button-secondary-hover: #CCE0FF
$background-color-button-secondary-active: #B5D4FD
$background-color-button-secondary-focus: #E5F2FF
$box-shadow-button-secondary: 0 4px 8px 0 #80b1ff66

$background-color-button-cancel: transparent
$color-text-button-cancel: #FF3557
$box-shadow-button-cancel: 0 4px 8px 0 #ff355733

$background-color-button-save: #38b000
$color-text-button-save: #F9F9FE
$background-color-button-save-hover: #008000
$background-color-button-save-active: #007200
$background-color-button-save-focus: #008000
$box-shadow-button-save: 0 4px 8px 0 rgba(0, 128, 0,.4)
/** Inputs **/
$color-text-input: #414958
$border-input: 2px solid #C9D9E8
$border-input-hover: 2px solid #A6C0D9
$border-input-focus: 2px solid #82A7CA
$border-input-focus-visible: #99C0E5
$background-color-input-error: #FEF1F2
$color-text-input-error: #E9808A
$color-text-label-error: #E1515F

/** Notification **/
$notification_color_text_title: #394660
$notification_color_text: #B9BAC6
$notification_background_color: #FFFFFF
$notification_background_error: #FF3557
$shadow_notification_error: #ff355766
$notification_background_succes: #1FAD7D
$shadow_notification_succes: #1fad7d66
$notification_background_warning: #F4AF25
$shadow_notification_warning: #f4af2566
$notification_background_information: #0088CC
$shadow_notification_information: #0088CC66
