$background_1: #EFF7FE
$background_2: #FFFFFF
$background_3: #E6F4FD
$backgroun_4: #0C62DA
$background-color-secondary: #FFFFFF
$line-color: #506795
$line_color: #E6F4FD
$shadow_background_3: 0 6px 12px 0 #45a7e666
/** Color text **/
$color_text_h1: #1F397A
$color_text_h2: #294BA3
$color_text_h3: #394660
$color_text_paragraph: #8A8C9C
$color_text_semi_paragraph: #B9BAC6
$color_text_link: #394660
$color_text_link_hover: #0C62DA

/** Icons **/
$color_icons: #394660
$color_icons_hover: #0C62DA

/** Button **/
$background_color_button_basic: #0C62DA
$background_color_button_basic_hover: #0C62DA
$color_text_button_basic: #FFFFFF
$box_shadow_button_basic: 0 6px 12px 0 #0c62da66

$background_color_button_success: #6BB220
$background_color_button_success_hover: #539917
$background_color_button_success_focus: #2C670A
$color_text_button_success: #FFFFFF
$box_shadow_button_success: 0 6px 12px 0 #6BB22066

$border_color_button_error: #FF3C2B
$color_text_button_error: #FF3C2B
$background_color_button_error_hover: rgba(183, 21, 35, 0.1)
$border_color_button_error_hover: #B71523
$background_color_button_error_focus: #7A0824

/** Inputs **/
$border_color_input: #9CD0FB
$border_color_input_hover: #0C62DA
$color__input__error: #B71523

/** Notification **/
$notification_color_text_title: #394660
$notification_color_text: #454654
$notification_background_color: #FFFFFF
$notification_background_error: #FF3557
$shadow_notification_error: #ff355766
$notification_background_succes: #1FAD7D
$shadow_notification_succes: #1fad7d66
$notification_background_warning: #F4AF25
$shadow_notification_warning: #f4af2566
$notification_background_information: #0088CC
$shadow_notification_information: #0088CC66
